<ol class="word-list">
    <label class="row-header">{{localize 'Words'}}:</label>
    {{#each words as |word id|}}
    <li class="item word-pill" data-item-id='{{word._id}}'>
        <a class="item-control item-edit">
            {{word.name}}
        </a>
        <a
            class='item-control item-delete'
            title='{{localize "DOCUMENT.Delete" type='word'}}'>
            <i class='fas fa-trash'></i>
        </a>
    </li>
    {{/each}}
</ol>
<ol class='passives-list'>
    <div class="title-row"><label class="row-header">{{localize
            'Passives'}}</label></div>
    {{#each wordPassives as |passive|}}
    <li class="passive-item">
        {{{passive.description}}}
    </li>
    {{/each}}
</ol>
<ol class='items-list'>
    <li class='item flexrow items-header'>
        <div class='item-name'>{{localize 'Name'}}</div>
        <div class='item-controls'>
            <a
                class='item-control item-create'
                title='Create item'
                data-type='gift'>
                <i class='fas fa-plus'></i>
                {{localize 'DOCUMENT.New' type='gift'}}
            </a>
        </div>
    </li>
    {{#each gifts as |item id|}}
    <li class='item gift-row flexcol row' data-item-id='{{item._id}}'>
        <div class="fixed-row flexrow">
            <i class="fa-solid fa-angle-right hide-expanded"></i>
            <i class="fa-solid fa-angle-down hide-collapsed"></i>
            <i class="d20 gift-activate"></i>
            <div class='item-name'>
                <h4>{{item.name}}</h4>
            </div>
            <div class='item-controls'>
                <a
                    class='item-control item-edit'
                    title='{{localize "DOCUMENT.Edit" type='project'}}'>
                    <i class='fas fa-edit'></i>
                </a>
                <a
                    class='item-control item-delete'
                    title='{{localize "DOCUMENT.Delete" type='project'}}'>
                    <i class='fas fa-trash'></i>
                </a>
            </div>
        </div>
        <div class="description">
            {{{item.system.description}}}
        </div>
    </li>
    {{/each}}
</ol>
