<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>{{localize 'Name'}}</div>
    <div class='item-controls'>
      <a
        class='item-control item-create clickable'
        data-click-type="item-create"
        title='Create item'
        data-type='fact'>
        <i class='fas fa-plus'></i>
        {{localize 'DOCUMENT.New' type='fact'}}
      </a>
    </div>
  </li>
  {{#each facts as |item id|}}
  <li class='item flexrow row' data-item-id='{{item._id}}'>
    <div class="fixed-row flexrow">
      <i
        class="fa-solid fa-angle-right clickable expandable hide-expanded"
        data-click-type="expand"></i>
      <i
        class="fa-solid fa-angle-down clickable expandable hide-collapsed"
        data-click-type="expand"></i>
      <div class='item-name'>
        <h4>{{item.name}}</h4>
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-edit clickable'
          data-click-type="item-edit"
          title='{{localize "DOCUMENT.Edit" type='fact'}}'>
          <i class='fas fa-edit'></i>
        </a>
        <a
          class='item-control item-delete clickable'
          data-click-type="item-delete"
          title='{{localize "DOCUMENT.Delete" type='fact'}}'>
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </div>
    <div class="description">
      {{{item.system.description}}}
    </div>
  </li>
  {{/each}}
</ol>
{{editor enrichedBiography target="system.biography" engine="prosemirror"
button=true editable=editable}}