 <div class="form-row">
    <div class="checkbox-label">
        {{localize 'Features'}}:
    </div>
    <label class="input-group-checkbox">
        <div {{#if
            system.details.mob}}class="checkbox-label clickable selected"
            {{else}}class="checkbox-label clickable"{{/if}}>{{localize
            'Mob'}}</div>
        <input type="checkbox"
            name="system.details.mob" {{checked
            system.details.mob}} />
    </label>
    <div class="checkbox-group">
        <label class="input-group-checkbox">
            <div {{#if
                system.resources.effort.canSave}}class="checkbox-label clickable selected"
                {{else}}class="checkbox-label clickable"{{/if}}>{{localize
                'Save with Effort'}}</div>
            <input type="checkbox"
                name="system.resources.effort.canSave"
                {{checked system.resources.effort.canSave}} />
        </label>
        <label class="input-group-checkbox">
            <div {{#if
                system.defence.supernatural}}class="checkbox-label clickable selected"
                {{else}}class="checkbox-label clickable"{{/if}}>{{localize
                'Non-magic Immunity'}}</div>
            <input type="checkbox" name="system.defence.supernatural"
                {{checked
                system.defence.supernatural}} />
        </label>
    </div>
    <div class="checkbox-group">
        <label class="input-group-checkbox">
            <div {{#if
                system.offense.straightDamage}}class="checkbox-label clickable selected"
                {{else}}class="checkbox-label clickable"{{/if}}>
                {{localize 'Straight Damage'}}
            </div>
            <input type="checkbox" name="system.offense.straightDamage"
                {{checked
                system.offense.straightDamage}} />
        </label>
        <label class="input-group-checkbox">
            <div {{#if
                system.offense.magicalAttacks}}class="checkbox-label clickable selected"
                {{else}}class="checkbox-label clickable"{{/if}}>
                {{localize 'Magic Damage'}}
            </div>
            <input type="checkbox" name="system.offense.magicalAttacks"
                {{checked
                system.offense.magicalAttacks}} />
        </label>
    </div>
</div>
<div class="form-row">
    <div class="input-group-1">
        <label>
            {{localize 'AC'}}
        </label>
        <input type="text" name="system.defence.ac"
            value="{{system.defence.ac}}"
            data-dtype="Number" />
    </div>
    <div class="input-group-1">
        <label class="max-label">
            {{localize 'Base HD'}}
        </label>
        <input type="text" name="system.resources.hd.baseMax"
            value="{{system.resources.hd.baseMax}}" data-dtype="Number" />
    </div>
    <div class="input-group-1">
        <label class="max-label">
            {{localize 'Effort'}}
        </label>
        <input type="text" name="system.resources.effort.max"
            value="{{system.resources.effort.max}}"
            data-dtype="Number" />
    </div>
    <div class="input-group-1">
        <label>
            {{localize 'Save'}}
        </label>
        <input type="text" name="system.defence.save"
            value="{{system.defence.save}}"
            data-dtype="Number" />
    </div>
    <div class="input-group-1">
        <label>
            {{localize 'Morale'}}
        </label>
        <input type="text" name="system.defence.morale"
            value="{{system.defence.morale}}"
            data-dtype="Number" />
    </div>
    <div class="input-group-1">
        <label>
            {{localize 'Move'}}
        </label>
        <input class="move" type="text" name="system.details.move"
            value="{{system.details.move}}" />
    </div>
</div>
<div class="form-row">
    <div class="input-group-1">
        <label>
            {{localize 'Actions'}}
        </label>
        <input type="text" name="system.offense.actions"
            value="{{system.offense.actions}}"
            data-dtype="Number" />
    </div>
    <div class="input-group-1 short">
        <label>
            {{localize 'Attacks per Action'}}
        </label>
        <input type="text" name="system.offense.attacksPerAction"
            value="{{system.offense.attacksPerAction}}"
            data-dtype="Number" />
    </div>

    <div class="input-group-1">
        <label>
            {{localize 'Attack'}}
        </label>
        <input type="text" name="system.offense.attack"
            value="{{system.offense.attack}}" data-dtype="Number" />
    </div>
    <div class="input-group-1">
        <label>
            {{localize 'Damage Type'}}
        </label>
        <input class="long" type="text" name="system.offense.damageType"
            value="{{system.offense.damageType}}" />
    </div>
</div>
