<div
    class="m-0 p-0 overflow-y-auto grid-item-list color text-list-header grid grid-cols-tactics grid-rows-items auto-rows-auto gap-x-[10px] gap-y-[5px] items-list">
    <div
        class="item grid grid-cols-subgrid col-span-full h-item-header items-header font-bold">
        <div class="flex flex-row justify-start px-[3px]"><a class="clickable"
                data-click-type="roll-tactics">
                <i class="fa-regular fa-dice-d20"></i>
            </a></div>
        <div class="flex flex-row justify-start px-[3px]">{{localize
            "Weight"}}</div>
        <div class="flex flex-row justify-start px-[3px]">{{localize
            "Name"}}</div>
        <div class="flex flex-row justify-end px-[3px]">
            <a class="item-control item-create clickable"
                data-click-type="item-create"
                title='{{localize "DOCUMENT.Create" type="Tactic"}}'
                data-type="tactic">
                <i class="fas fa-plus"></i>
                {{localize "DOCUMENT.New" type="Tactic"}}
            </a>
        </div>
    </div>
    {{#each tactics as |tactic id|}}
    <div
        class="item items-center py-[3px] px-[2px] grid grid-cols-subgrid col-span-full row-span-1"
        data-item-id="{{tactic._id}}">
        <div class="flex justify-center px-[3px]">
            {{#if tactic.system.available}}
            <i class="fa-regular fa-square-check clickable"
                data-item-id="{{tactic._id}}"
                data-click-type="enable-tactic"></i>
            {{else}}
            <i class="fa-regular fa-square clickable"
                data-click-type="enable-tactic"
                data-item-id="{{tactic._id}}"></i>
            {{/if}}
        </div>
        <div class="flex flex-row justify-start px-[3px]">
            <h4>
                {{tactic.system.weight}}
            </h4>
        </div>
        <div class="item-name px-[3px]">
            <h4>{{tactic.name}}</h4>
        </div>
        <div class="item-controls px-[3px]">
            <a class="item-control clickable item-edit"
                data-click-type="item-edit"
                title='{{localize "DOCUMENT.Update" type="Tactic"}}'>
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-control item-delete clickable"
                data-click-type="item-delete"
                title='{{localize "DOCUMENT.Delete" type="Tactic"}}'>
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    {{/each}}
</ol>