<div class="npc-details-header">
    <div class="display-name">{{actor.name}}</div>
    {{#if system.details.mob}}
    <div class="mob-select">
        <label>{{localize 'Mob Type'}}:</label>
        <select class="mob-type" name="system.details.mobType">
            {{selectOptions config.MobTypes selected=system.details.mobType
            localize=true}}
        </select>
    </div>
    {{/if}}
    <div class="npc-tags">
        {{#if system.resources.effort.canSave}}
        <div>Save with Effort</div>
        {{/if}}
        {{#if system.defence.supernatural}}
        <div>Non-magic Immunity</div>
        {{/if}}
        {{#if system.offense.straightDamage}}
        <div>Straight Damage</div>
        {{/if}}
        {{#if system.offense.magicalAttacks}}
        <div>Magic Damage</div>
        {{/if}}
    </div>
</div>
<div class="npc-details-row">
    <div class="npc-value display">
        <label>{{localize 'AC'}}</label>
        <div class="npc-ac">{{system.defence.ac}}</div>
    </div>
    <div class="npc-value fraction">
        <label>{{localize 'HD'}}</label>
        <input class="display-input" type="text"
            name="system.resources.hd.value"
            value="{{system.resources.hd.value}}" data-dtype="Number" />
        <div class="npc-hd-max">{{system.resources.hd.max}}</div>
    </div>
    <div class="npc-value fraction">
        <label>{{localize 'Effort'}}</label>
        <input class="display-input" type="text"
            name="system.resources.effort.value"
            value="{{system.resources.effort.value}}" data-dtype="Number" />
        <div class="npc-effort-max">{{system.resources.effort.max}}</div>
    </div>
    {{#if system.details.mob}}
    {{else}}
    <div class="npc-value display short">
        <label>{{localize 'Actions'}}</label>
        <div class="npc-move">{{system.offense.actions}}</div>
    </div>
    {{/if}}
    <div class="npc-value">
        <label class="clickable" data-click-type="attack">
            {{localize 'Attack'}}
        </label>
        <div class="npc-attack clickable" data-click-type="attack">
            <div>
                +{{system.offense.attack}}
            </div>
            <div>
                x{{attacksPerAction}}
            </div>
            <div>
                d{{system.offense.damageDie}}
            </div>
            <div>
                +
            </div>
            <div>
                {{system.offense.damageBonus}}
            </div>
            <div>
                {{system.offense.damageType}}
            </div>
        </div>
    </div>
    <div class="npc-value display">
        <label>{{localize 'Move'}}</label>
        <div class="npc-move">{{system.details.move}}</div>
    </div>
    <div class="npc-value display">
        <label class="clickable" data-click-type="save-check">{{localize
            'Save'}}</label>
        <div class="clickable npc-save"
            data-click-type="save-check">{{system.defence.save}}</div>
    </div>
    <div class="npc-value display">
        <label class="clickable" data-click-type="morale-check">{{localize
            'Morale'}}</label>
        <div class="npc-morale clickable"
            data-click-type="morale-check">{{system.defence.morale}}</div>
    </div>
</div>