<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="who-am-i">
      <input class="name-input" name="name" type="text" value="{{actor.name}}"
        placeholder="Name" />
      <img class="profile-img" src="{{actor.img}}" data-edit="img"
        title="{{actor.name}}" height="100" width="100" />
    </div>
    <div class="header-fields">

      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}

      {{!-- "flex-group-center" is also defined in the _grid.scss file
      and it will add a small amount of padding, a border, and will
      center all of its child elements content and text. --}}
      <div class="resource-stack">
        &#10084;
        <input type="text" name="system.details.health.value"
          value="{{system.details.health.value}}" data-dtype="Number" />
        <span class="resource-content-static">{{numberFormat
          system.details.health.max decimals=0}}</span>
      </div>

      <div class="resource-stack">
        <svg xmlns="http://www.w3.org/2000/svg" class="effort-icon"
          viewBox="0 0 320 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path
            d="M296 160H180.6l42.6-129.8C227.2 15 215.7 0 200 0H56C44 0 33.8 8.9 32.2 20.8l-32 240C-1.7 275.2 9.5 288 24 288h118.7L96.6 482.5c-3.6 15.2 8 29.5 23.3 29.5 8.4 0 16.4-4.4 20.8-12l176-304c9.3-15.9-2.2-36-20.7-36z" /></svg>
        <input type="text" name="system.resources.effort.value"
          value="{{system.resources.effort.value}}"
          data-dtype="Number" />
        <span class="resource-content-static">{{numberFormat
          system.resources.effort.max decimals=0}}</span>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="facts">Facts</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="projects">Projects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Facts Tab --}}
    <div class="tab facts" data-group="primary" data-tab="facts">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns. --}}
          <div class="attributes flexcol">
            {{#each system.attributes as |attribute key|}}
            <div class="attribute flexrow flex-group-center">
              <label for="system.attributes.{{key}}.value"
                class="resource-label rollable flexlarge align-left"
                data-roll="d20+@attributes.{{key}}.mod"
                data-label="{{attribute.label}}">{{attribute.label}}</label>
              <input type="text" name="system.attributes.{{key}}.value"
                value="{{attribute.value}}"
                data-dtype="Number" />
              <span class="attribute-mod rollable"
                data-roll="d20+@attributes.{{key}}.mod"
                data-label="{{attribute.label}}">{{numberFormat attribute.mod
                decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main facts list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts`
          folder next to this sheet, and defined in module/helpers/templates.mjs
          --}}
          {{> "systems/godbound/templates/actor/parts/actor-facts.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{!-- Editors must receive enriched text data from getData to properly
      handle rolls --}}
      {{editor enrichedBiography target="system.biography" engine="prosemirror"
      button=true editable=editable}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
      {{> "systems/godbound/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/godbound/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/godbound/templates/actor/parts/actor-effects.hbs"}}
    </div>

    <div class="tab projects flexcol" data-group="primary" data-tab="projects">
      {{> "systems/godbound/templates/actor/parts/actor-projects.hbs"}}
    </div>

  </section>
</form>