<form class="{{cssClass}} {{actor.type}} godbound flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}"
        placeholder="Name" /></h1>
    <img class="profile-img" src="{{actor.img}}" data-edit="img"
      title="{{actor.name}}" height="100" width="100" />
    <div class="header-fields">
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="resources grid grid-3col">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}
        <div class="resource flex-group-center">
          <label for="system.health.value" class="resource-label">Health</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.health.value"
              value="{{system.health.value}}" data-dtype="Number" />
            <span> / </span>
            <span class="resource-max">{{system.health.max}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.effort.value" class="resource-label">Effort</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span
              class="resource-value">{{system.resources.effort.value}}</span>
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.details.level.value"
            class="resource-label">Level</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span class="resource-value">{{system.details.level.value}}</span>
            <label for="system.details.level.xp" class>
              XP
            </label>
            <input type="text" name="system.details.level.xp"
              value="{{system.details.level.xp}}" data-dtype="Number" />
            <div>
              <span>Next Level:</span>
              <label>
                XP:
              </label>
              <div>{{system.advancement.xp}}</div>
              <label>
                Dominion Spent:
              </label>
              <div>{{system.advancement.dominionSpent}}</div>
            </div>
          </div>
        </div>
        <div class="resources flex-group-center">
          <label for="system.details.wealth"
            class="resource-label">Wealth</label>
          <div class="resource-content flexrow flex-center flex-between">
            <span class="resource-value">{{system.details.wealth}}</span>
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="facts">Facts</a>
    <a class="item" data-tab="inventory">Inventory</a>
    <a class="item" data-tab="projects">Projects</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Facts Tab --}}
    <div class="tab facts" data-group="primary" data-tab="facts">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns. --}}
          <div class="attributes flexcol">
            {{#each system.attributes as |attribute key|}}
            <div class="attribute flexrow flex-group-center">
              <label for="system.attributes.{{key}}.value"
                class="resource-label attribute-mod rollable flexlarge align-left"
                data-label="{{localize (lookup @root.config.attributes key)}}">{{localize
                (lookup @root.config.attributes key)}}</label>
              <input type="text" name="system.attributes.{{key}}.value"
                value="{{attribute.value}}" data-dtype="Number" />
              <span class="attribute-mod rollable"
                data-attribute="{{key}}">{{numberFormat attribute.mod decimals=0
                sign=true}}</span>
            </div>
            {{/each}}
          </div>
          <div class="saves flexcol">
            {{#each system.saves as |save key|}}
            <div class="save flexrow flex-group-center">
              <label for="system.saves.{{key}}.value"
                class="resource-label rollable flexlarge align-left"
                data-label="{{localize (lookup @root.config.saves key)}}">{{localize
                (lookup @root.config.saves key)}}</label>
              <span class="save rollable">{{save.value}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main facts list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts`
          folder next to this sheet, and defined in module/helpers/templates.mjs
          --}}
          {{> "systems/godbound/templates/actor/parts/actor-facts.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      {{> "systems/godbound/templates/actor/parts/actor-inventory.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/godbound/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Owned Projects Tab --}}
    <div class="tab projects" data-group="primary" data-tab="projects">
      {{> "systems/godbound/templates/actor/parts/actor-projects.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/godbound/templates/actor/parts/actor-effects.hbs"}}
    </div>

  </section>
</form>
