{{! This template is a fallback for when items don't have more specific
templates. }}
{{! Generally, you'll want to make more specific templates when possible. }}
<form class='{{cssClass}}' autocomplete='off'>
    <header class='sheet-header'>
        <img
            class='profile-img'
            src='{{item.img}}'
            data-edit='img'
            title='{{item.name}}' />
        <div class='header-fields'>
            <h1 class='charname'><input
                    name='name'
                    type='text'
                    value='{{item.name}}'
                    placeholder='Name' /></h1>
            <div
                class='grid grid-cols-3 col-span-3 items-center gap-2.5 my-2.5 mx-0 p-0'>
                <div class="flex flex-row items-center">
                    <label class="h-min bold pr-[5px]">{{localize
                        'Weight'}}</label>
                    <input type="text" name="system.weight"
                        value="{{system.weight}}" data-dtype="Number" />
                </div>
                <div class="flex flex-row items-center">
                    <label
                        class="flex flex-row bold pr-[5px] items-center">{{localize
                        'Enabled'}}
                        <input class="small-checkbox" type="checkbox"
                            name="system.available"
                            {{#if system.available}}checked{{/if}} />
                    </label>
                </span>
            </div>
        </div>
    </header>
    {{! Sheet Tab Navigation }}
    <nav class='sheet-tabs tabs' data-group='primary'>
        <a class='item' data-tab='description'>Description</a>
    </nav>
    {{! Sheet Body }}
    <section class='sheet-body'>
        {{! Description Tab }}
        <div class='tab' data-group='primary' data-tab='description'>
            {{! Editors must receive enriched text data from getData to properly
            handle rolls }}
            {{editor
            enrichedDescription
            target='system.description'
            engine='prosemirror'
            button=true
            editable=editable
            }}
        </div>
    </section>
</form>